/*==GENERAL RULES==*/
:root {
  --accent-color: #2196f3;
  --title-text-color: #ffffff;
  --line: #ececec;
  --secondary-font: 'Raleway', sans-serif;
  --studio-logo: #000000;
  --primary-color: #212121;
  --hero-background: #c4c4c4;
  --hero-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --hero-button: rgba(0, 0, 0, 0.15);
  --margin: 30px;
  --grey-text-color: #757575;
  --our-team-background: #f5f4fa;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --background-grey-color: #2f303a;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --porfolio-nav-link-color: #f5f4fa;
  --portfolio-description-color: #eeeeee;
  --porfolio-nav-link-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --social-links: #afb1b8;
  --social-links-bg-f: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}
h1,
h2,
h3,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.common-link {
  text-decoration: none;
  color: inherit;
}
/*===END GENERAL RULES===*/
/*=====HEADER=====*/
.header {
  background-color: var(--title-text-color);
  border-bottom: 1px solid var(--line);
}
.conatainer-header {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: inherit;
}
/*=HEADER-NAV=*/
.header-nav {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio {
  color: var(--studio-logo);
}
.header-nav .logo-link {
  margin-right: 92px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-link-list:not(:last-child) {
  margin-right: 50px;
}
.menu-link-list {
  color: var(--primary-color);
}
.menu-link.active-link {
  color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link,
.mail-link,
.tel-link-header {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*=END-HEADER-NAV=*/
/*=HEADER-CONTACTS=*/
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.mail-link {
  display: flex;
  align-items: center;
}
.mail-link {
  margin-right: 50px;
}
.mail-link,
.tel-link {
  color: var(--grey-text-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link-header:hover,
.tel-link-header:focus {
  color: var(--accent-color);
}
.menu-icon {
  margin-right: 10px;
}
.menu-icon {
  fill: var(--grey-text-color);
}

.mail-link:hover .menu-icon,
.mail-link:focus .menu-icon {
  fill: var(--accent-color);
}
/*=END-HEADER-CONTACTS=*/
/*=====END HEADER=====*/
/*=====HERO=====*/
.hero {
  background-color: var(--hero-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-ground {
  height: 600px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(var(--hero-gradient)),
    url('../images/background/hero-back-or.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.modal-button {
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--hero-button);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
/*==========END HERO========*/

/*===========ABOUT==========*/
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}
.about-list-element {
  /* width: 270px; */
  width: 270px;
}
.about-list-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-paragraph {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}
/*===========END ABOUT==========*/
/*===========WHAT WE DO==========*/
/*=========== END WHAT WE DO==========*/
.what-we-do {
  padding-top: 0px;
}
.what-we-do,
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.wwd-cotainer {
  margin-bottom: 50px;
}

.wwd-cotainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.wwd-img:not(:last-child) {
  width: 370px;
  height: 294px;
  margin-right: 15px;
}

/*=========== END WHAT WE DO==========*/
/*=========== OUR TEAM==========*/
.our-team {
  background-color: var(--our-team-background);
}
.our-team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list {
  margin-bottom: 50px;
}
.teamate-name,
.teamate-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.teamate-position {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--grey-text-color);
}
.our-team-persons-wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
  background: var(--title-text-color);

  box-shadow: var(--box-shadow);
}
.our-team-thumb {
  padding: 30px;
}
.our-team-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

/*social-links*/
.social-link-list {
  display: flex;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--title-text-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: var(--title-text-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-links);
}
/*END social links==*/

/*===========END OUR TEAM==========*/

/*============= Our clients==============*/
.client-list {
  display: flex;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}

.client-list-items {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-links);
  border-radius: 4px;
}

.client-link-icons {
  fill: var(--social-links);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client-link:hover .client-link-icons,
.client-link:focus .client-link-icons {
  fill: var(--accent-color);
}

/*============= Our clients==============*/
/*===========FOOTER==========*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-grey-color);
}
.flex-position {
  display: flex;
  align-items: baseline;
}
.logo-studio-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.adress-list-link:not(:last-child) {
  margin-bottom: 9px;
  margin-top: 20px;
}

.adress-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.adress-list-link:not(:last-child) {
  margin-bottom: 9px;
}
.mail,
.tel {
  color: var(--contacts-footer-color);
  font-style: normal;
}

/*=========END FOOTER==========*/
/*===END WebStudio PAGE===*/
/*=========PORTFOLIO PAGE=====*/
/*===BUTTONS NAV===*/
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.porfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}
.porfolio-nav-link {
  background-color: var(--porfolio-nav-link-color);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
}
.porfolio-nav-link:hover,
.porfolio-nav-link:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  box-shadow: var(--porfolio-nav-link-shadow);
}
.porfolio-nav-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
/*===END BUTTONS NAV===*/
/*=========PORTFOLIO SECTION=====*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}
.portfolio-flex-element:hover,
.portfolio-flex-element:focus {
  box-shadow: var(--box-shadow-pr);
}
.portfolio-flex-element {
  flex-basis: calc(100% / 3 - var(--margin));
  margin-top: var(--margin);
  margin-left: var(--margin);
}
.portfolio-description {
  padding: 20px 24px;
  background: var(--title-text-color);
  border-right: 1px solid var(--portfolio-description-color);
  border-bottom: 1px solid var(--portfolio-description-color);
  border-left: 1px solid var(--portfolio-description-color);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}
/*===END PORTFOLIO MAIN SECTION===*/
/*=========END PORTFOLIO PAGE=====*/
